body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.abc {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
button {
    padding: 4px;
    border: none;
    border-radius: 2px;
    color: black;
}
#weather-result {
    margin-top: 20px;
}